################################################################################
# Requirements to bootstrap a dev environment.
#
# To install these, you should already have `uv`. Note that you can install
# `uv` separately from Python and that it can manage Python versions for you!
#
# After installing these, tox is used for most development needs.
# Use `tox run -e compile-requirements` to regenerate requirements.txt.
################################################################################

# Tox is used for testing and most actions.
tox
tox-uv

# Ruff is used for linting and formatting.
ruff

# Mypy is used for type checknig.
mypy

# It's good to install these to have IDE autocompletion,
# but note that tests will use versions picked by tox.
-r requirements_test.txt
